@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url('./assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* <a href="https://www.freepik.com/free-vector/ocean-wave-vector-background-sea-water-landscape_41371855.htm#position=39">Image by upklyak on Freepik</a> */